/* Transactions */

.transaction {
        display: flex;
    width: 100%;
/* min-width: 1152px; */
flex-direction: column;
align-items: flex-start;
padding: 16px 32px 16px 32px;
gap: 24px;
}


.trans_search_row {
    display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
height: 40px;
}

.trans_buttons {
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
}

.trans_text {
    color: var(--Black-12, #1A181E);
font-family: 'Poppins', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 140% */
}

.trans_btns {
    display: flex;
align-items: flex-start;
gap: var(--Spacing-spacing-05, 12px);
}

.trans_btns > button {
    display: flex;
padding: 6px 16px;
align-items: center;
gap: 10px;
border-radius: 40px;
background: var(--Black-90, #E6E6E6);
border: none;
color: var(--Black-50, #808080);

/* Body 2/Medium */
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
cursor: pointer;
}

.trans_btns > button.active {
    color: var(--Black-100, #FFF);
    font-weight: 400;
    background: var(--Primary-Blue, #146EB4);
}

/* Transaction Table */
.trans_table {
    display: flex;
    width: 100%;
padding: var(--Spacing-spacing-05, 12px) var(--Spacing-spacing-05, 12px) var(--Spacing-spacing-04, 8px) var(--Spacing-spacing-05, 12px);
flex-direction: column;
align-items: flex-start;
border-radius: var(--Spacing-spacing-04, 8px);
background: var(--Black-100, #FFF);
gap:12px;
/* Shadow/Card */
box-shadow: 0px 2px 6px 0px rgba(26, 24, 30, 0.04);
}

/* Search */
.transactions_SEARCH {
    display: flex;
width: 248px;
height: 40px;
background: #fff;
border-radius: 4px;
border: 1px solid var(--Black-85, #D9D9D9);
background: var(--Black-100, #FFF);
}

.transactions_SEARCH > input {
    line-height: 20px;
    font-size: 14px;
    width: 100%;
}

.transactions_SEARCH > img {
    height: 14px;
    width: 14px;
}

.trans_search_row_sort {
display: flex;
padding: 6px var(--Spacing-spacing-05, 12px);
align-items: center;
gap: 6px;
width: fit-content;
border-radius: 4px;
border: 1px solid var(--Black-85, #D9D9D9);
background: var(--Black-100, #FFF);
}

.trans_search_row_sort > span {
    color: var(--Black-30, #4D4D4D);

/* Sub Title/Regular */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.trans_arrow {
    width: 36px;
height: 36px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid var(--Black-85, #D9D9D9);
padding: 8px;
}

.table {
    width: 100%;
}

.th_tr {
    display: flex;
width: 100%;
padding: 10px var(--Spacing-spacing-05, 12px);
justify-content: space-between;
align-items: center;
border-radius: 4px;
background: var(--Black-95, #F2F2F2);
color: var(--Black-30, #4D4D4D);

/* Body 2 / Medium */
font-family: 'Poppins', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
}

.tr {
    display: flex;
    width: 100%;
height: 48px;
padding: 14px var(--Spacing-spacing-05, 12px);
font-family: 'Poppins', sans-serif;
justify-content: space-between;
align-items: center;
background: var(--Black-100, #FFF);
font-family: Inter;

}

.th {
    width: 150px;
}
.td {
    width: 150px;
        color: var(--Black-30, #4D4D4D);
    font-family: 'Poppins', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}

.td > div {
    color: var(--Black-12, #1A181E);

/* Body 2/Regular */
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}

.table_order {
    color: #146EB4;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.divider {
    background: #E6E6E6;
    height: 1px;
    width: 100%;
}

/* Mobile Screens */
@media only screen and (max-width: 767px) { 
    .trans_search_row  {
        flex-wrap: wrap;
        gap: 1rem;
    }
    .th_tr {
        flex-wrap: wrap;
    }
    .tr {
        flex-wrap: wrap;
        height: auto;
    }

}
