.App {
    display: flex;
    background: var(--Black-98, #FAFAFA);
}

.main {
    width: 100%;
     margin-left: 224px; 
}

@media only screen and (max-width: 767px) { 
    .main {
        margin-left: auto;
    }
}